* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;

}

.app {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s, ease-out;
}


.app.warm {
 background: url('./assets/warm-bg.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, 
  rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;

}


.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  /*border-radius: 16px 16px 16px 16px;*/
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
  
  color: #313131;
  font-size: 17px;

  transition: 0.4s ease;
}
/* when u click on the search box and turns bright (white) otherwise grey */
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location{
  color: #DEE4F7;
  font-size: 40px;
  
  font-weight: 500 ;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.25);

}

.location-box .date{
  color: #DEE4F7;
  font-size: 22px;
  font-weight: 330 ;
  font-style: italic;
  margin: 5px auto;
  text-align: center;
  text-shadow: 2px 2px 8px #383737;

}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 17px;

  padding: 15px 25px;
  color: #101C42;
  font-size: 100px;
  font-weight: 900;
  text-align: center;

  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.15);
}

.weather-box .weather {
  color: #DEE4F7;
  text-align: center;
  font-size: 47px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.6);
}
